html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: black;
    font-family: verdana;
    color: white;
}

h1, h2 {
    text-align: center;
}

h3,h4,h5 {
    color: grey
}

a {
    color: yellow;
    font-size: 20px;
}

table {
    width: 100%;
}
